@model GarageWebbRH.Models.Garage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Garage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.prisLiten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prisLiten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prisStor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prisStor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.antalPlatser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.antalPlatser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.garageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
