@model IEnumerable<GarageWebbRH.Models.Garage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.prisLiten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prisStor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.antalPlatser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.prisLiten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prisStor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.antalPlatser)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.garageId }) |
            @Html.ActionLink("Details", "Details", new { id=item.garageId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.garageId })
        </td>
    </tr>
}

</table>
