@model IEnumerable<GarageWebbRH.Models.Agare>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fnamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonNr)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fnamn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enamn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonNr)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AgareId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AgareId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AgareId })
        </td>
    </tr>
}

</table>
