@model GarageWebbRH.Models.Fordon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fordon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.agare.Fnamn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agare.Fnamn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fordontyp.Namn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fordontyp.Namn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pdatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pdatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PplatsNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PplatsNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlutDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlutDatum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FordonId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
