@model IEnumerable<GarageWebbRH.Models.Fordon>

@{
    ViewBag.Title = "Index2";
}

<h2>Parkerade bilar - Detaljerad lista</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.agare.Fnamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fordontyp.Namn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pdatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PplatsNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlutDatum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.agare.Fnamn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fordontyp.Namn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pdatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PplatsNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlutDatum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FordonId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FordonId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FordonId })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
