@model IEnumerable<GarageWebbRH.Models.Fordon>

@{
    ViewBag.Title = "Index";
}

<h2>Parkerade bilar</h2>
<p>
<div style="display: inline-block">
    @using (Html.BeginForm())
    {
        <p>
            Sök på Regnr: @Html.TextBox("SearchRegNr")
            <input type="submit" value="Search" />
        </p>
    }
</div>
<div style="display: inline-block">
    @using (Html.BeginForm())
    {
        <p>
            Filtrera på fordonstyp: @Html.DropDownList("FordonsTypID")
            <input type="submit" value="Filter" />
        </p>
    }
</div>
</p>
<div style="float:left">
    @Html.ActionLink("Create New", "Create")
</div>
<div style="float:right">
    @Html.ActionLink("Detailed list", "Index2")
</div>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.agare.Fnamn)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.fordontyp.Namn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pdatum)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PplatsNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlutDatum)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.agare.Fnamn)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.fordontyp.Namn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pdatum)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.PplatsNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlutDatum)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FordonId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FordonId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FordonId })
        </td>
    </tr>
}

</table>
