@model IEnumerable<GarageWebbRH.Models.Fordon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p></p>
<div style="display: inline-block">
    @using (Html.BeginForm())
    {
        <p>
            Sök på Regnr: @Html.TextBox("SearchRegNr")
            <input type="submit" value="Search" />
        </p>
    }
    </div>
<div style="display: inline-block">
    @using (Html.BeginForm())
    {
        <p>
            Sök på Ägare: @Html.TextBox("SearchAgare")
            <input type="submit" value="Search" />
        </p>
    }
</div>
</p>
<p>
<div style="display: inline-block">
    @using (Html.BeginForm())
    {
        <p>
            Filtrera på fordonstyp: @Html.DropDownList("FordonsTyp")
            <input type="submit" value="Filter" />
        </p>
    }
</div>
<div style="display: inline-block">
    @using (Html.BeginForm())
    {
        <p>
            Parkerade idag: @Html.CheckBox("bTodaysDate", (bool)ViewBag.bTodaysDate)
            <input type="submit" value="Filter" />
        </p>
    }
</div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.regNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.agare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fTyp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pPlatsNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.slutDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.garageId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.regNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.agare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fTyp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pDatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pPlatsNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.slutDatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.garageId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FordonId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FordonId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FordonId })
        </td>
    </tr>
}

</table>
